.spinner_border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text_bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner_border 0.75s linear infinite;
  animation: spinner_border 0.75s linear infinite;
}

.spinner_grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text_bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner_grow 0.75s linear infinite;
  animation: spinner_grow 0.75s linear infinite;
}

.text_muted {
  color: #6c757d !important;
}

.text_primary {
  color: #007bff !important;
}

.text_success {
  color: #28a745 !important;
}

.text_info {
  color: #17a2b8 !important;
}

.text_warning {
  color: #ffc107 !important;
}

.text_danger {
  color: #dc3545 !important;
}

.text_secondary {
  color: #6c757d !important;
}

.text_dark {
  color: #343a40 !important;
}

.text_light {
  color: #f8f9fa !important;
}

.spinner_border_sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@keyframes spinner_border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner_grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
