.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn_primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn_secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn_success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn_info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn_warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn_danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn_dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn_lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn_sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn_outline_primary {
  color: #007bff;
  border-color: #007bff;
}

.btn_outline_secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn_outline_success {
  color: #28a745;
  border-color: #28a745;
}

.btn_outline_info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn_outline_warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn_outline_danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn_outline_dark {
  color: #343a40;
  border-color: #343a40;
}
